.table {
  margin: 0 auto 20px;
}

.today {
  background-color: #293a33ef;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}

.center {
  text-align: center;
  margin: auto;
}

.totalWidth {
  width: 100%;
}

.avaible {
  color: rgb(15, 184, 38);
}

.cross-out {
  opacity: 0.5;
  text-decoration: line-through;
}

.text-bold {
  font-weight: 700;
}

.text-ligth {
  font-weight: 400;
}

.border-b-bold {
  border-bottom: 1.5px solid black;
}

.border-b-ligth {
  border-bottom: 0.5px solid rgba(109, 106, 106, 0.356);
}

td {
  width: 63px;
  padding: 5px;
  margin: auto 15px;
}

td p {
  font-size: 11px;
  margin-top: 4px;
}

.container-div {
  margin: 50px auto;
}

.flex-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.label-mode {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  justify-content: center;
}

.absolute {
  position: absolute;
  background-color: rgb(247, 247, 253);
  border-radius: 15px;
  border: 1px solid black;
  width: 450px;
  margin: 0 auto;
  z-index: 1000;
}

.relative {
  position: relative;
}

.img-editDay {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.incomeRow {
  background-color: rgba(81, 250, 51, 0.363);
}
.expenseRow {
  background-color: rgba(250, 157, 51, 0.363);
}