@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
  padding: 0;
}

.table {
  margin: 0 auto 20px;
}

.today {
  background-color: #293a33ef;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}

.center {
  text-align: center;
  margin: auto;
}

.totalWidth {
  width: 100%;
}

.avaible {
  color: rgb(15, 184, 38);
}

.cross-out {
  opacity: 0.5;
  text-decoration: line-through;
}

.text-bold {
  font-weight: 700;
}

.text-ligth {
  font-weight: 400;
}

.border-b-bold {
  border-bottom: 1.5px solid black;
}

.border-b-ligth {
  border-bottom: 0.5px solid rgba(109, 106, 106, 0.356);
}

td {
  width: 63px;
  padding: 5px;
  margin: auto 15px;
}

td p {
  font-size: 11px;
  margin-top: 4px;
}

.container-div {
  margin: 50px auto;
}

.flex-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.label-mode {
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
  justify-content: center;
}

.absolute {
  position: absolute;
  background-color: rgb(247, 247, 253);
  border-radius: 15px;
  border: 1px solid black;
  width: 450px;
  margin: 0 auto;
  z-index: 1000;
}

.relative {
  position: relative;
}

.img-editDay {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.incomeRow {
  background-color: rgba(81, 250, 51, 0.363);
}
.expenseRow {
  background-color: rgba(250, 157, 51, 0.363);
}

.row-confirm {
  background: #dfdfdf;
  color:#939393;
}

label {
  display: block;
  margin: 15px;
}

.rigth {
  float: right;
  margin-right: 5vw;
}

.container-btn-acount {
  display: flex;
  justify-content: center;
}

.btn-acount {
  display: inline-block
  ;
}

.container-btn-option {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-btn-available {
  width: 100%;
  display: flex;
}

.btn-available, .btn-saved {
  width: 100%;
  padding: 5px;
  margin: 10px;
  border: 1px solid ;
  border-radius: 10px;
}

/*-------------------- LOGIN PAGE -------------------- */



.container {
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 950px;
  background-image: linear-gradient(90deg, rgb(39, 39, 39),rgb(24, 23, 23), rgb(18, 18, 19), rgb(24, 23, 23), rgb(39, 39, 39));
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5.2em;
  font-weight: 100;
  margin: 25px ;
  color: aliceblue;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input {
  width: 230px;
  height: 38px;
  margin: -5px 0;  
  border-radius: 12px;
  padding: 0 10px;
  font-size: large;
}

.input-email {
  width: 250px;
}

.button {
  width: 230px;
  height: 36px; 
  border: none;
  border-radius: 10px;
  margin: 20px 15px 40px;
  background-color: rgb(35, 219, 35);
  font-size: large;
}

.spliter-line {
  width: 90%;
  height: .1px;
}

.btn-google {
margin: 20px auto 30px;
}

.container-register {
  width: 100%;
  height: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.register {
  text-decoration: none;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.4em;
  color: rgb(160, 161, 161);
}
.link-register {
  text-decoration: none;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.4em;
  color: rgb(160, 161, 161);
}

.span-register {
  color: aliceblue;
}


/*-------------------- STARTING PAGE -------------------- */

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4.2em;
  font-weight: 100;
  margin: 10px 10px 50px ;
  color: aliceblue;
}

.p-description {
  margin: 10px;
  color: aliceblue;
  text-decoration: none;
  font-family: monospace;
  font-weight: 400;
  font-size: 1.4em;
}

.hide {
  display: none;
}